<div>
  <h1>PETAK1</h1>
  <% data.forEach(item => { const petak1 = item.TambulampotCabe1 || []; if (petak1.length
  > 0) { const first = petak1[0]; %>

  <p>OvenMediaTanam1: <%= first.OvenMediaTanam1 %></p>
  <p>PengelolaanLahanPetak1: <%= first.PengolahanLahanPetak1 %></p>
  <p>DolomitPetak1: <%= first.DolomitPetak1 %></p>
  <p>KetersedianCT dan Jasur1: <%= first.KetersediaanCompostTea_Jadam1 %></p>
  <p>KetersediaanKompost dan Bio1:<%= first.KetersediaanCompostdanBio1 %></p>
  <p>JenisBibitPetak1: <%= first.JenisBibitPetak1 %></p>
  <p>MasukMediaBioChar1: <%= first.MasukMediaBioChar1 %></p>
  <p>TanggalTanamPetak1: <%= first.TanggalTanamPetak1 %></p>
  <p>ObatSuketHariten1: <%=first.ObatSuket10Hari1 %></p>
  <p>KocorKompostTea1: <%= first.KocorCompostTea1 %></p>
  <p>JadamSulfur1: <%=first.JadamSulfur1 %></p>
  <p>ControlSuket1_1: <%= first.ControlSuket1_1 %></p>
  <p>PenyiramanTahap1_1: <%= first.PenyiramanTahap1_1 %></p>
  <p>TglPemupukan1_1: <%= first.TglPemupukan1_1 %></p>
  <p>PupukVegetatifMakro1: <%= first.PupukVegetatifMakro1 %></p>
  <p>ControlSuket2_1: <%=first.ControlSuket2_1 %></p>
  <p>PenyiramanTahap2_1: <%= first.PenyiramanTahap2_1 %></p>
  <p>TglPemupukanGen1: <%= first.TglPemupukanGen1 %></p>
  <p>PupukGeneratifMakro1: <%= first.PupukGeneratifMakro1 %></p>
  <p>ObatUlat1: <%= first.ObatUlat1 %></p>
  <p>UsiaPanendanKendala: <%= first.UsiaPanendanKendala1 %></p>
  <p>Rata-rataBB: <%= first.Rata_rataBb1 %></p>
  <% } petak1.forEach(element1 => { const images = element1.DokProgress1 || [];
  %> <% if (images.length > 0) { %> <% images.forEach(img => { %>
  <img
    src="/imagesofpetak1/<%= item._id %>/<%= img.fileId %>"
    alt="supplier sayur hidroponik"
    height="200"
    width="150"
  />
  <% }); %> <% } %>
  <form
    action="/delete-item1-petak1/<%= item._id %>/<%= element1._id %>?_method=DELETE"
    method="POST"
  >
    <input type="submit" value="delete" />
  </form>

  <form
    action="/edit-item-petak/<%= item._id %>/<%= element1._id %>"
    method="get"
  >
    <input type="submit" value="edit" />
  </form>
  <% }); %> <% }); %>
</div>
<div>
  <h1>PETAK2</h1>
  <% data.forEach(item => { const petak2 = item.TambulampotCabe2 || []; if (petak2.length
  > 0) { const first = petak2[0]; %>
  <p>OvenMediaTanam2: <%= first.OvenMediaTanam2 %></p>
  <p>DolomitPot2: <%= first.DolomitPot2 %></p>
  <p>KetersedianCT dan Jasur2: <%= first.KetersediaanCompostTea_Jadam2 %></p>
  <p>KetersediaanKompost dan Bio2:<%= first.KetersediaanCompostdanBio2 %></p>
  <p>JenisBibitCabe2: <%= first.JenisBibitCabe2 %></p>
  <p>Fertility2: <%= first.Fertility2  %></p>
  <p>Moisture2: <%= first.Moist2  %></p>
  <p>PH2: <%= first.PH2 %></p>
  <p>Temp2: <%= first.Temp2 %></p>
  <p>Sunlight2: <%= first.Sunlight2 %></p>
  <p>Humidity2: <%= first.Humidity2 %></p>
  <p>TanggalTanamCabe2: <%= first.TanggalTanamPetak2 %></p>
  <p>KocorKompostTea2: <%= first.KocorCompostTea2 %></p>
  <p>JadamSulfur2: <%=first.JadamSulfur2 %></p>
  <p>TglPemupukan1_1: <%= first.TglPemupukan1_2 %></p>
  <p>PupukVegetatifMakro2: <%= first.PupukVegetatifMakro2 %></p>
  <p>TglPemupukanGen2: <%= first.TglPemupukanGen2 %></p>
  <p>PupukGeneratifMakro2: <%= first.PupukGeneratifMakro2 %></p>
  <p>ObatTrip2: <%= first.ObatTrip2 %></p>
  <p>RotasiObatTrip2: <%= first.RotasiObatTrip2 %></p>
  <p>UsiaPanendanKendala: <%= first.UsiaPanendanKendala2 %></p>
  <p>Rata-rataBB: <%= first.Rata_rataBb2 %></p>
  <% } petak2.forEach(element2 => { const images = element2.DokProgress2 || [];
  %> <% if (images.length > 0) { %> <% images.forEach(img => { %>
  <img
    src="/imagesofpetak2/<%= item._id %>/<%= img.fileId %>"
    alt="supplier sayur hidroponik"
    height="200px"
    width="150px"
  />
  <% }); %> <% } %>

  <form
    action="/delete-item1-petak2/<%= item._id %>/<%= element2._id %>?_method=DELETE"
    method="POST"
  >
    <input type="submit" value="delete" />
  </form>

  <form
    action="/edit-item-petak/<%= item._id %>/<%= element2._id %>"
    method="get"
  >
    <input type="submit" value="edit" />
  </form>
  <% }); %> <% }); %>
</div>
<div>
  <h1>PETAK3</h1>
  <% data.forEach(item => { const petak3 = item.TambulampotCabe3 || []; if (petak3.length
  > 0) { const first = petak3[0]; %>
  <p>OvenMediaTanam3: <%= first.OvenMediaTanam2 %></p>
  <p>DolomitPot3: <%= first.DolomitPot2 %></p>
  <p>KetersedianCT dan Jasur3: <%= first.KetersediaanCompostTea_Jadam2 %></p>
  <p>KetersediaanKompost dan Bio3:<%= first.KetersediaanCompostdanBio2 %></p>
  <p>JenisBibitHonje3: <%= first.JenisBibitHonje3 %></p>
  <p>Fertility3: <%= first.Fertility3  %></p>
  <p>Moisture3: <%= first.Moist3  %></p>
  <p>PH3: <%= first.PH3 %></p>
  <p>Temp3: <%= first.Temp3 %></p>
  <p>Sunlight3: <%= first.Sunlight3 %></p>
  <p>Humidity3: <%= first.Humidity3 %></p>
  <p>TanggalTanamHonje3: <%= first.TanggalTanamPetak3 %></p>
  <p>KocorKompostTea3: <%= first.KocorCompostTea3 %></p>
  <p>JadamSulfur3: <%=first.JadamSulfur3 %></p>
  <p>TglPemupukan1_3: <%= first.TglPemupukan1_3 %></p>
  <p>PupukVegetatifMakro3: <%= first.PupukVegetatifMakro3 %></p>
  <p>TglPemupukanGen3: <%= first.TglPemupukanGen3 %></p>
  <p>PupukGeneratifMakro3: <%= first.PupukGeneratifMakro3 %></p>
  <p>ObatTrip3: <%= first.ObatTrip3 %></p>
  <p>RotasiObatTrip3: <%= first.RotasiObatTrip3 %></p>
  <p>UsiaPanendanKendala: <%= first.UsiaPanendanKendala3 %></p>
  <p>Rata-rataBB: <%= first.Rata_rataBb3 %></p>
  <% } petak3.forEach(element3 => { const images = element3.DokProgress3 || [];
  %> <% if (images.length > 0) { %> <% images.forEach(img => { %>
  <img
    src="/imagesofpetak3/<%= item._id %>/<%= img.fileId %>"
    alt="supplier sayur hidroponik"
    height="200px"
    width="150px"
  />
  <% }); %> <% } %>

  <form
    action="/delete-item1-petak3/<%= item._id %>/<%= element3._id %>?_method=DELETE"
    method="POST"
  >
    <input type="submit" value="delete" />
  </form>

  <form
    action="/edit-item-petak/<%= item._id %>/<%= element3._id %>"
    method="get"
  >
    <input type="submit" value="edit" />
  </form>
  <% }); %> <% }); %>
</div>
