<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/edit-item-kebun/<%=data._id%>?_method=PUT" method="POST">
      <br />
      <h1>Kebun1/2/3</h1>
      <label for="TglSemai">TanggalSemai</label>
      <input
        type="date"
        name="DateOfScatter"
        value="<%= data.TglSemai1||data.TglSemai2 ||data.TglSemai3 %>"
      />
      <label for="JenisBibit">JenisBibit</label>
      <input
        type="text"
        name="TypeSeeds"
        value="<%=data.JenisBibitKebun1|| data.JenisBibitKebun2||data.JenisBibitKebun3 %>"
      />
      <label for="KetersediaanABmix">Ketersediaan AB mix</label>
      <input
        type="text"
        name="ABmixAvailable"
        value="<%= data.KetersediaanABmix1||data.KetersediaanABmix2||data.KetersediaanABmix3 %>"
      />
      <label for="KetersediaanJasur">Ketersediaan Jadam Sulfur</label>
      <input
        type="text"
        name="JasurAvailable"
        value="<%=data.KetersediaanJadamSulfur1||data.KetersediaanJadamSulfur2||data.KetersediaanJadamSulfur3 %>"
      />

      <label for="KetersediaanMetan">KetersediaanMetan</label>
      <input
        type="text"
        name="MetanAvailable"
        value="<%= data.KetersediaanArangSekamOrMetan1||data.KetersediaanArangSekamOrMetan2||data.KetersediaanArangSekamOrMetan3 %>"
      />
      <label for="KutilangOrNot">KutilangOrNot</label>
      <input
        type="Text"
        name="KutilangOrNot"
        value="<%= data.KutilangOrNot1||data.KutilangOrNot2 ||data.KutilangOrNot3 %>"
      />
      <label for="PPM1">PPM1</label>
      <input
        type="number"
        name="Measure1"
        value="<%= data.PPM1_1||data.PPM1_2 || data.PPM1_3    %>"
      />
      <label for="PPM2">PPM2</label>
      <input
        type="number"
        name="Measure2"
        value="<%= data.PPM2_1||data.PPM2_2 || data.PPM3_3   %>"
      />
      <label for="PPM3">PPM3</label>
      <input
        type="number"
        name="Measure3"
        value="<%= data.PPM3_1||data.PPM3_2 || data.PPM3_3  %>"
      />
      <label for="PPM4">PPM4</label>
      <input
        type="number"
        name="Measure4"
        value="<%= data.PPM4_1||data.PPM4_2 || data.PPM4_3 %>"
      />
      <label for="Jasur1">SprayJasur1</label>
      <input
        type="date"
        name="SprayJasur1"
        value="<%= data.SprayJadam1_1||data.SprayJadam1_2 || data.SprayJadam1_3  %>"
      />

      <label for="Pesnab1">PesNab1</label>
      <input
        type="date"
        name="SprayPesnab1"
        value="<%= data.SprayPesnab1_1||data.SprayPesnab1_2 || data.SprayPesnab1_3  %>"
      />

      <label for="Jasur2">SprayJasur2</label>
      <input
        type="date"
        name="SprayJasur2"
        value="<%= data.SprayJadam2_1||data.SprayJadam2_2 || data.SprayJadam2_3  %>"
      />

      <label for="Pesnab2">PesNab2</label>
      <input
        type="date"
        name="SprayPesnab2"
        value="<%= data.SprayPesNab2_1||data.SprayPesNab2_2 || data.SprayPesNab2_3  %>"
      />

      <label for="Jasur3">SprayJasur3</label>
      <input
        type="date"
        name="SprayJasur3"
        value="<%= data.SprayJadam3_1||data.SprayJadam3_2 || data.SprayJadam3_3  %>"
      />

      <label for="Pesnab3">PesNab3</label>
      <input
        type="date"
        name="SprayPesnab3"
        value="<%= data.SprayPesnab3_1||data.SprayPesnab3_2 || data.SprayPesnab3_3  %>"
      />
      <label for="Jasur4">SprayJasur4</label>
      <input
        type="date"
        name="SprayJasur4"
        value="<%= data.SprayJadam4_1||data.SprayJadam4_2 || data.SprayJadam4_3  %>"
      />

      <label for="Pesnab4">PesNab4</label>
      <input
        type="date"
        name="SprayPesnab4"
        value="<%= data.SprayPesNab4_1||data.SprayPesNab4_2 || data.SprayPesNab4_3  %>"
      />

      <label for="ObatUlat">ObatUlat</label>
      <input
        type="Text"
        name="CaterPiler"
        value="<%= data.ObatUlat1 ||data.ObatUlat2 ||data.ObatUlat3 %>"
      />
      <label for="UsiaPanen">UsiaPanendanKendala</label>
      <input
        type="Text"
        name="HarvestAge"
        value="<%= data.UsiaPanendanKendala1||data.UsiaPanendanKendala2 ||data.UsiaPanenPetak3  %>"
      />
      <label for="Rata-rata BB1">RerataBB/pohon1</label>
      <input
        type="Text"
        name="AverageBB"
        value="<%=data.Rata_rataBb1||data.Rata_rataBb2 ||data.Rata_rataBb3 %>"
      />

      <br />

      <label for="CleaningPipe">Pembersihan Pipa</label>
      <input
        type="Text"
        name="CleaningPipe"
        value="<%=data.PembersihanPipa1||data.PembersihanPipa2 ||data.PembersihanPipa3 %>"
      />

      <br />
      <button type="submit" class="submit-post">Edit Kebun Hidroponik</button>
    </form>
  </body>
</html>
